
#res-prefpane, #res-submitticket-pane {
	padding: 0;
}

#res-header {
	padding: 10px 15px;
	background-color: #FFFFFF;
	background-image: url(chrome://redmineeasysubmit/skin/icon_16x16.png);
	background-position: 10px 13px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #b0bdcc;
}

#res-subheader {
	padding: 5px 5px;
	background-color: #FFFFFF;
	background-position: 7px 13px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #b0bdcc;
}

#res-footer {
	padding: 10px 10px;
}

#res-header text {
	padding: 0 0 0 18px;
	font-size: 14px;
}

#res-wrapper {
	padding: 5px 10px;
}

#res-wrapper caption {
	padding: 0 2px;
}

#res-types {
	width: 160px;
}

#res-notif {
	width: 160px;
}

#res-screenshotwin canvas {
    cursor: crosshair;
}

#res-loading {
    position: fixed;
    top: 40%;
    left: 37%;
    width: 150px;
    height: 50px;
    background-color: darkgrey;
    border-radius: 5px;
    z-index: 20;
    display: none;
}
#res-loading-text {
    position: absolute;
    top:30%;
    left:20%;
}
#res-loading-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: darkgray;
    opacity: 0.4;
    z-index: 10;
}

#wiki-help-link {
    text-align: right;
    color: #1A0DAB;
    text-decoration: underline;
}

#res-mydiscussions, #res-mydiscussionscontent, #res-myassigned, #res-mycreated, #res-myopened, #res-myticketcontent {
    width: 1024px;
}
#ticketsTable {
    height: 400px;   
}
.cell-highlighted {
    font-weight: bold;
}

#res-about-topbox {
    margin-top: 10px;
}

#currentNotes {
    max-height: 350px;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#discussiontitle, #tickettitle {
    font-weight: bold;
    font-size: 16px;
}
#discussionsubtitle, #ticketsubtitle, #discussionsubsubtitle, #ticketsubsubtitle {
    font-size: 14px;
}
#ticket-hyperlink {
    text-align: right;
    color: #1A0DAB;
    text-decoration: underline;
}
.note-title {
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
}
.note-subtitle {
    font-style: italic;
    margin-right: 10px;
    margin-left: 10px;
}
.note-message {
    margin-right: 10px;
    margin-left: 10px;  
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: right;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
}
